{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{% block dashboard_title %}Dashboard Base B3{% endblock dashboard_title %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "bootstrap3/css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{% static "bootstrap3/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static "bootstrap3/css/dashboard.css" %}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="{% static "bootstrap3/js/html5shiv.min.js" %}"></script>
      <script src="{% static "bootstrap3/js/respond.min.js" %}"></script>
    <![endif]-->

  <!-- Font-awesome -->
  <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">

  {% include "dashboard_bootstrap3/css.html" %}
  {% block extra_css %}{% endblock extra_css %}
</head>

<body style="margin-bottom: 45px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{% block dashboard_name %}Dashboard Base B3{% endblock dashboard_name %}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Dashboard</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {% block sidebar %}
        <ul class="nav nav-sidebar">
          <li class="{% if request.path == "/" %}active{% endif %}">
            <a href="/">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
            </a>
          </li>
        </ul>
      {% endblock sidebar %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>
      <ol class="breadcrumb">
        {% block breadcrumbs %}
          <li><a href="/">Home</a></li>
        {% endblock breadcrumbs %}
      </ol>

      {% block content %}
      {% endblock content %}
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        {% block footer %}
          <p class="navbar-text pull-left">© 2016-{% now "Y" %} - Vittorio Zamboni</p>
        {% endblock footer %}
      </div>
    </div>

  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "bootstrap3/js/bootstrap.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "bootstrap3/js/ie10-viewport-bug-workaround.js" %}"></script>
</body>
</html>